<div class="container">
  <% if policy(@topic).update? %>
    <%= link_to fa_icon('file'), new_article_path %>
  <% end %>
  <hr>
  <div class="row text-center">
    <% if @articles.count != 0 %>
      <%= render partial: 'shared/article', collection: @articles, locals: {height: 'auto', width: '100%'} %>
    <% else %>
      <h3>There is no news at the moment</h3>
    <% end %>
  </div>
  <hr>
</div>