<h1>FAQ</h1>
<h2>Table Of Contents</h2>
<ol>
  <li><a href="#How to link to specific matches on twitch vods">How to link to specific matches on twitch vods</a></li>
  <li><a href="#How to link to specific matches on youtube">How to link to specific matches on youtube</a></li>
  <li><a href="#Can anyone add matches to the database?">Can anyone add matches to the database?</a></li>
  <li><a href="#Can anyone add players to the database?">Can anyone add players to the database?</a></li>
  <li><a href="#I found an incorrect link/duplicate entry of a footage, what do?">I found an incorrect link/duplicate entry of a footage, what do?</a></li>
  <li><a href="#I no longer go by the name the69king and would like it changed on the database.">I no longer go by the name the69king and would like it changed on the database.</a></li>
  <li><a href="#I need the list of moderators I can bother on discord.">I need the list of moderators I can bother on discord.</a></li>
  <li><a href="#Will more features be added to the website?">Will more features be added to the website?</a></li>
  <li><a href="#I want to be a moderator and help run the site.">I want to be a moderator and help run the site.</a></li>
  <li><a href="#I want to be an editor and write articles for the site.">I want to be an editor and write articles for the site.</a></li>
  <li><a href="#I want to help design a logo or something for the site.">I want to help design a logo or something for the site.</a></li>
  <li><a href="#What is the purpose of this website?">What is the purpose of this website?</a></li>
  <li><a href="#I didn't know there was a discord where members of the safgc organize matches, I want to join.">I didn't know there was a discord where members of the safgc organize matches, I want to join.</a></li>

</ol>

<h2 id="How to link to specific matches on twitch vods">How to link to specific matches on twitch vods</h2>
<p align="justify">Just add ?t=_h_m_s to the end of the url. Fill in the blanks with the timestamp.
    For example, if you want to link to a spot that is at 01:18:42, your link would look like:
    https://www.twitch.tv/videos/478610916?t=01h18m42s
    You can also drop starting zeros, so 01:29:19 could also look like ?t=1h29m19s.
    If the time is at 19:51, the link could use ?t=19m51s.<br></p>

<h2 id="How to link to specific matches on youtube">How to link to specific matches on youtube</h2>
<p align="justify">Click the share button, then tick the 'start at' checkbox and copy/ paste the url generated<br></p>

<h2 id="Can anyone add matches to the database?">Can anyone add matches to the database?</h2>
<p align="justify">Any user that is signed in can add matches to the user database. So add any footage you know of that isn't already in the database and contact me (pdivvie) or a moderator on the safgc discord if the players involved are not listed.<br></p>

<h2 id="Can anyone add players to the database?">Can anyone add players to the database?</h2>
<p align="justify">For now only moderators can add players to the website. This is to prevent, as far as possible, duplicate entries of the same players and thus segmenting their footage unnecessarily.<br></p>

<h2 id="I found an incorrect link/duplicate entry of a footage, what do?">I found an incorrect link/duplicate entry of a footage, what do?</h2>
<p align="justify">Contact myself(pdivvie) or any moderator on discord to remove the duplicate entry/ fix the link.<br></p>

<h2 id="I no longer go by the name the69king and would like it changed on the database.">I no longer go by the name the69king and would like it changed on the database.</h2>
<p align="justify">Contact myself(pdivvie) or any moderator on discord.<br></p>

<h2 id="I need the list of moderators I can bother on discord.">I need a list of moderators I can bother on discord.</h2>
<p align="justify">@pdivvie<br></p>

<h2 id="Will more features be added to the website?">Will more features be added to the website?</h2>
<p align="justify">I have more features planned for the website but whether or not I continue to work on the website will depend on whether the community makes use of it or not. Some features I want to implement are: <br><br>

  1. Sorting/ searching matches by in-game characters.<br>
  2. Sorting players into categories for the games they play to narrow down the list of players to choose from when linking to new footage.<br>
  3. A section where users can write their own articles (already on the site but no editors).<br>
  4. A section where moderators can update the site with the latest events and announcements (already on the site but no moderators).<br>
  5. A section where users can create 'dummy tournaments' with a lower limit of players to guage interest before committing to tournament organizing (if not enough players indicate interest before a certain date the tournament doesnt happen). Could be nice for arranging small casual but regular online tourneys.<br><br>

  DM me on discord if you have any other ideas you'd like to share or just to let me know you are making use of the site. Your interest shows me that the site is worth working on<br></p>

<h2 id="I want to be a moderator and help run the site.">I want to be a moderator and help run the site.</h2>
<p align="justify">DM me(pdivvie) on the safgc discord if you would like to be a moderator. You should be fairly active in the scene to know the players as one of your tasks will be to add players to the database without producing duplicates where possible. People frequently change the name they go by so it helps if you've been in the scene long enough to know that i.e. 420wheatit now goes by the69king etc.<br></p>

<h2 id="I want to be an editor and write articles for the site.">I want to be an editor and write articles for the site.</h2>
<p align="justify">DM me(pdivvie) on the safgc discord if you would like to be an editor.<br></p>

<h2 id="I want to help design a logo or something for the site.">I want to help design a logo or something for the site.</h2>
<p align="justify">La Volpe pls.<br></p>

<h2 id="What is the purpose of this website?">What is the purpose of this website?</h2>
<p align="justify">This website was made for use by anyone who is involved in the competitive fighting games in South Africa. The primary purpose of it is:<br>
  1. Boost the strength of the local competitive fighting game scene by:<br>
    1.a Creating a database of LOCAL MATCH FOOTAGE so that players can learn by studying player matchups instead of just character matchups (or just watch local footage for entertainment purposes).<br>
    1.b Have easy access to all your own recorded matches in one place to learn from.<br><br>

The secondary purposes of the website is:<br>
  1. To create a database of USERS and their details so players can network more by adding each other and ask for games.<br>
  2. To create a hub where players can look for news, articles and events.<br>
  3. To create a hub where players can go to organize tournaments.<br><br></p>

<h2 id="I didn't know there was a discord where members of the safgc organize matches, I want to join.">I didn't know there was a discord where members of the safgc organize matches, I want to join.</h2>
<p align="justify"><%= link_to 'SAFGC Discord', 'https://discord.gg/BzyYPQ', class: 'btn btn-dark', target: :_blank %> <- Need a permanent link for this<br></p>



