<h1>FAQ</h1>
<h2>Table Of Contents</h2>
<ol>
  <li><a href="#How to link to specific matches on twitch vods">How to link to specific matches on twitch vods</a></li>
  <li><a href="#How to link to specific matches on youtube">How to link to specific matches on youtube</a></li>
</ol>

<h2 id="How to link to specific matches on twitch vods">How to link to specific matches on twitch vods</h2>
<p align="justify">Just add ?t=_h_m_s to the end of the url. Fill in the blanks with the timestamp.
    For example, if you want to link to a spot that is at 01:18:42, your link would look like:
    https://www.twitch.tv/videos/478610916?t=01h18m42s
    You can also drop starting zeros, so 01:29:19 could also look like ?t=1h29m19s.
    If the time is at 19:51, the link could use ?t=19m51s.<br></p>

<h2 id="How to link to specific matches on youtube">How to link to specific matches on youtube</h2>
<p align="justify">Click the share button, then tick the 'start at' checkbox and copy/ paste the url generated<br></p>