<div class="container">

  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to JUSTPRESS</h1>
    <p class="lead">This site is designed to give the local fighting game community a place to gather for news updates such as events but most importantly to share/ watch local vods of past matches. Feel free to register if you would like other players to be able to connect with you and add vods. </p>
    <%= link_to "Register", new_user_registration_path,class: 'btn btn-dark btn-lg' %>
  </header>


  <div class="row text-center">
    <%= render partial: 'shared/article', collection: @articles %>
  </div>

</div>
