@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";

body {
  padding-top: 80px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #2E2E2E;
  color: white;
}

body a {
  color: white;
}

body a:hover {
  color: white;
}

@media (min-width: 1200px) {
  .fluid-container {
    padding-left: 250px;
    padding-right: 250px;
  }
 }

.footer {
  text-align: center;
  padding-top: 30px
}

.card {
  background-color: #2E2E2E;
  border: none;
}

.matches-card {
  padding: 10px 0px 0px 10px;
}

.user-card {
  padding: 10px 0px 0px 10px;
  background-color: #ff1744;
}

.fa{
  font-size: 30px;
  color: #ff1744;
  padding-right: 10px;
}

.bg-dark {
  background-color: #ff1744 !important;
}

.breadcrumb {
  background-color: #ff1744;
}

.breadcrumb-item.active {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: #EBEBEB;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #FFFFFF;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #FFFFFF;
}

.jumbotron {
  background-color: #ff1744;
}

.frontpage-heading {
  color: #ff1744;
  padding-bottom: 20px;
}

.style_image {
  position: absolute;
  height: 281.25px;
  width: 500px;
  z-index: -1;
}

.style_image_mobile {
  height: auto;
  width: 100%;
}

.image_text {
  z-index: 0;
  position: absolute;
}

.image_icon {
  z-index: 0;
  position: absolute;
  margin-top: 200px;
  margin-left: 20px;
}

.image_icon_mobile {
  z-index: 0;
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
}

.image_link {
  z-index: 0;
  position: absolute;
}

.avatar img {
  border-radius: 30px;
}

.p-alt {
  padding-top: 1rem;
  text-align: center;
}

.p-alt2 {
  padding-top: 1rem;
  text-align: justify;
}

.p-alt3 {
  padding-top: 1rem;
  text-align: right; 
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}